body {
  background-color: #752645;
}

.App {
  text-align: center;
  margin: auto;
  width: 75%;
  background-color: #d3dae6;
  border-radius: 25px;
  padding: 20px;
}

.Post {
  margin: auto;
  width: 40%;
  background-color: white;
  border-radius: 25px;
  background: #3734eb;
  padding: 10px;
}


